body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 10px auto;
    text-align: center;
    padding: 50px;
    background-color: rgba(137, 137, 137, 0.8);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
    overflow: hidden;
    transition: height 0.4s ease;
}

h1 {
    font-size: 55px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 0.5px rgb(93, 93, 93);
}



.search-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

input[type="text"] {
    width: 300px; /* Fixed width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    width: 150px; /* Fixed width */
    background-color: #feb752;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#searchButton:hover {
    background-color: #ffa600;
}

button:active {
    transform: scale(0.98);
}

.weather-info {
    margin-bottom: 20px;
    font-weight: bold;
    color: #f0f0f0;
    font-size: 18px;
    text-shadow: 1px 1px 0.5px rgb(93, 93, 93);

}

.forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.forecast-item {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    width: 100px;
    margin: 10px;
    flex: 0 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.forecast-item h3 {
    font-size: 16px;
}

.forecast-item p {
    margin: 5px 0;
}

@media (max-width: 768px) 
   { .container {
        width: 90%;
        padding: 20px;
    }}